/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* サイト全体のフォント指定 */
body {
font-family: "游ゴシック", "Hiragino Sans";
}

/* header footer*/

.headbar{
  background-color: #75bdc9;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footbar{
  background-color: #75bdc9;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright{
  color: white;
}

.logo{
  margin-left: 10px;
}

.lists-right {
  width: 70vw;
  background-color: #75bdc9;
  list-style: none;
  justify-content: right;
  display:flex; 
  align-items: center;
}

.user-nickname, .logout, .login, .sign-up{
  color: white;
  margin-left: 35px;
  text-decoration: none;
  font-size: 20px;
}

/* header footer*/